## CMPINF 2100 Week 06
### What type of plot should I use???

This is a very common question, but it is often the WRONG question to ask!!!

## Import Modules

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import seaborn as sns

## Read Data

We will use 2 diff data sets this week.

The first is the GAPMINDER data. The second is the Palmer Penguins data set.

In [7]:
gap_df = pd.read_csv("gapminder.tsv", sep="\t")

In [10]:
gap_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

The Penguins dataset are read in or loaded from the Seaborn module.

In [11]:
penguins = sns.load_dataset("penguins")

In [12]:
penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB

## Introduction to Visualization

When deciding the type of plot you should use...you must ask yourself the following questions:

* Do I have the data?
* What data types am I working with?
* What are the number of unique values for the variables?
* What are my goals?

There are specific plots for different purposes. The type of plot is MOSTLY determined by the:
* Data type
* Number of unique values
* Individual variable vs relationship between multiple variables

### Influence of data type

There are two main data types we need to concern ourselves with:
* Categorical - strings, letters, words, or non-numeric values
* Continuous - integers, floats or numeric values

The most basic type of plot for non-numeric variables is the **BAR CHART**!!! You should ALWAYS start with creating bar charts!! The bar chart shows the **COUNT** for the number of rows per unique value!!!

The analog for counts with continuous variables or numeric vars are **DISTRIBUTIONS**. The fundamental type of distribution plot is the **HISTORGRAM**.

### Influence of number of unique values

Continous vars or numeric vars with FEW unique values can be EXPLORED as if they are categorical vars!

For example, the num of cylinders in a car. You will 4, 6, and 8 as a common values for the num of cylinders.

### Individual vs relationships

A plot focused on individual vars is commonly called a **MARGINAL** plot. Marginal means we are ignoring every other variable. We are focused on a single variable by itself!

A MARGINAL histogram is a plot of the distribution of a single continuous (numeric) variable.

A MARGINAL bar chart is a plot of the counts of the categories for a single categorical variable.

Relationship plots examine how 2 or more variables CHANGE or VARY together!!!

## Examples

Start with the gap minder data.

In [13]:
gap_df.dtypes

country       object
continent     object
year           int64
lifeExp      float64
pop            int64
gdpPercap    float64
dtype: object

Non-numerics are country and continent we will COUNT their categories with bar charts.

In [14]:
gap_df.nunique()

country       142
continent       5
year           12
lifeExp      1626
pop          1704
gdpPercap    1704
dtype: int64

The year col has only 12 unique values in gap_df. Thus, we may want to visually explore year as if it is categorical to simplify the figures.

Usually, I will consider a continuous variable with 7 or fewer unique cats when exploring data. But I will make exceptions for 10, 12, and 15 unique values.

In [15]:
penguins.dtypes

species               object
island                object
bill_length_mm       float64
bill_depth_mm        float64
flipper_length_mm    float64
body_mass_g          float64
sex                   object
dtype: object

The species, island and sex columns are categorical vars. We will COUNT the cats for this categorical vars!

In [16]:
penguins.nunique()

species                3
island                 3
bill_length_mm       164
bill_depth_mm         80
flipper_length_mm     55
body_mass_g           94
sex                    2
dtype: int64