In [1]:
2 + 2

4

In [2]:
%whos

Interactive namespace is empty.

In [3]:
z*x*y

NameError: name 'z' is not defined

In [4]:
3*3

9

In [5]:
2**4

16

In [6]:
2*2*2*

SyntaxError: invalid syntax (1136886599.py, line 1)

In [7]:
2*2*2*2

16

In [8]:
print(2+3)

5

In [9]:
# Hashtags are comments in code cells!!!

## This is a comment!!

### 2 + 2

In [10]:
# Comments are absolutely critical in scripts!

# we need to use comments in order to describe what we're doing!!

### print the result of 2+2 to the screen using the print() function

This is not a code cell.

We cannot run commands, evaluate expressions, or call functions.

We are typing in a Markdown cell. And Markdown text although "looks" like code will be rendered in a nice format!

1 + 1

print(2 + 2)

# This is not a comment

## This is still not a comment

### This is still not a comment

#### This is still not a comment

##### Hashtags in Markdown cells create SECTION HEADERS!!

# Our first notebook
This is our first Jupyter notebook. We can type Markdown text to create nice looking discussions which describe WHAT we are programming, WHY we are programming, and describe the results!!!

## A simple code well
Below is a code cell that prints the result 2 + 2

In [11]:
print(2 + 2)

4

## Bulletted lists
We can create bulleted lists using Markdown!
* First item in the list
* Second item in list
* 3rd
* 4th
* so on and so on

Back to regular looking text

## Defining variables
Let's define two variables, `x` and `y`, in the code cell below.

In [12]:
x = 3

y = 7

In [13]:
print(x)

3

In [14]:
print(y)

7

In [15]:
print(x+y)

10

Jupyter notebook includes MAGIC COMMANDS that allows us to SEE or INSPECT aspcts of the variables/objects in the environment!

In [16]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3
y          int     7

In [17]:
z = x/y

In [18]:
%whos

Variable   Type     Data/Info
-----------------------------
x          int      3
y          int      7
z          float    0.42857142857142855

## Data Types
There are many data types in programming languages like Python. Data types dictate the kinds of operations that we can do on the object!
The type() function is a function that returns the DATA TYPE of the input argument.

In [19]:
type(x)

int

In [20]:
print(type(z))

<class 'float'>

In [21]:
type (x+z)

float

## Strings
A string data type is a FUNDAMENTALLY different class than INTEGERS and FLOAT.
Strings are characters, so think of letters, words and phrases.

In [22]:
my_string = 'abcde'

In [23]:
%whos

Variable    Type     Data/Info
------------------------------
my_string   str      abcde
x           int      3
y           int      7
z           float    0.42857142857142855

In [24]:
type(my_string)

str

In [25]:
type("abcde")

str

The `=` operator ASSIGNS values to the objects but the `==` operator is a conditional or logical test about if the values of the objects are the same!

In [26]:
'abcde'=="abcde"

True

In [27]:
my_string == "abcde"

True

In [28]:
type(my_string == "abcde")

bool

A BOOLEAN data type is a TRUE/FALSE value. Python displays Booleans as `True` or `False`.

String are kind of "special" in that they can be subset.

In [29]:
len(my_string)

5

Integers do NOT have length in Python, but strings do have length in Python!

In [30]:
len(x)

TypeError: object of type 'int' has no len()

We can SLICE or INDEX or SUBSET the characters in a STRING!!
The `[]` allows us to INDEX or access elements from within the STRING!

In [31]:
my_string[1]

'b'

In [32]:
my_string

'abcde'

VERY IMPORTANT: Python is a ZERO BASED INDEX language!!

In [33]:
my_string[0]

'a'

### Slicing
We can extract our MORE than just a single element!
We can extract or SLICE multiple elements at a time!
We slice by including the `:` operator.
The `:` operator has a START or BEGINNING index to the LEFT and an END of FINISH index to the RIGHT.
VERY IMPORTANT: the beginning index is INCLUSIVE but the ending index is EXCLUSIVE!!!!

In [34]:
my_string[0:3]

'abc'

In [35]:
my_string[1:3]

'bc'

A shortcut to start from the beginning to NOT include anything to the left of `:`

In [36]:
my_string[:3]

'abc'

In [37]:
my_string[:4]

'abcd'

If we exclude the ENDING index or we do NOT include anything to the right of the `:` we RETURN EVERYTHING from the BEGINNING to the END!!

In [38]:
my_string[3:]

'de'

If the index is NEGATIVE that starts from the END!

In [39]:
my_string[1]

'b'

In [40]:
my_string[-1]

'e'

We can identify the LAST element as `[-1]`.

In [41]:
my_string[-2]

'd'

You can also use STEPS in you slicing.

In [44]:
my_string[::2]

'ace'

## Lists
Lists are CONTAINERS!! It contains MULTIPLE elements!

Lists are initialized or CREATED with `[]`.

In [45]:
an_empty_list = ["cesar", 3]

In [46]:
%whos

Variable        Type     Data/Info
----------------------------------
an_empty_list   list     n=2
my_string       str      abcde
x               int      3
y               int      7
z               float    0.42857142857142855

Let's now make a new list that contains 4 strings.

In [47]:
the_hobbits = ["frodo", "sam", "merry", "pippin"]

In [48]:
the_hobbits[1]

'sam'

In [49]:
len(the_hobbits)

4

In [50]:
type(the_hobbits)

list

Lits, like strings, can be indexed, sliced or subset.

In [51]:
the_hobbits[0]

'frodo'

In [52]:
the_hobbits[::2]

['frodo', 'merry']

In [53]:
type(the_hobbits[0])

str

In [54]:
type(an_empty_list[1])

int

In [55]:
print(the_hobbits[0])

frodo

## Iterate with for-loops
A for-loop allows us to APPLY an action or EXECUTE a procedure OVER and OVER again!

We do not need to COPY OR PASTE MANUALLY!

A for-loop iterates over a sequence by changing the value of an interating variable along that sequence.

In [58]:
for a_hobbit in the_hobbits:
    print(a_hobbit)

frodo
sam
merry
pippin

In [59]:
%whos

Variable        Type     Data/Info
----------------------------------
a_hobbit        str      pippin
an_empty_list   list     n=2
my_string       str      abcde
the_hobbits     list     n=4
x               str      pippin
y               int      7
z               float    0.42857142857142855

A comming way to create or define a for-loop is with a `range()` function.

In [60]:
range(4)

range(0, 4)

In [61]:
for n in range(4):
    print(n)

0
1
2
3

In [62]:
%whos

Variable        Type     Data/Info
----------------------------------
a_hobbit        str      pippin
an_empty_list   list     n=2
my_string       str      abcde
n               int      3
the_hobbits     list     n=4
x               str      pippin
y               int      7
z               float    0.42857142857142855

The `range()` function i often used to generate a sequence of integers to subset lists!

In [63]:
for m in range(4):
    print(the_hobbits[m])

frodo
sam
merry
pippin

In [64]:
for a_hobbit in the_hobbits:
    print(a_hobbit)

frodo
sam
merry
pippin

We do not need to specify or HARD CODE the 4 in `range()`. We can use the `len()` function to give us the LENGTH of the list.

In [65]:
for n in range(len(the_hobbits)):
    print(the_hobbits[n])

frodo
sam
merry
pippin

## Lists are heterogenous
They can contain multiple data types!!!

In [66]:
another_list = [1, 1.0, '1', "1", "1.0", True]

In [67]:
%whos

Variable        Type     Data/Info
----------------------------------
a_hobbit        str      pippin
an_empty_list   list     n=2
another_list    list     n=6
m               int      3
my_string       str      abcde
n               int      3
the_hobbits     list     n=4
x               str      pippin
y               int      7
z               float    0.42857142857142855

In [68]:
another_list

[1, 1.0, '1', '1', '1.0', True]

In [69]:
for x in another_list:
    print(type(x))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'bool'>

In [70]:
type(another_list[0])

int