## CMPINF 2100 Week 05
### Filter Pandas with Strings
## Import Modules

In [1]:
import numpy as np
import pandas as pd

## Review of DataFrames
Let's create the baseball related DataFrame that we worked on last week.

In [2]:
baseball_dict = {"City": ["Pittsburgh", "Cincinatti", "Chicago", "St. Louis", "Milwaukee"],
                 "Team": ["Pirates", "Reds", "Cubs", "Cardinals", "Brewers"],
                 "Division": 5*["Central"],
                 "League": 5*["NL"]}

In [8]:
baseball_df = pd.DataFrame(baseball_dict,
                           columns = ['League', 'Division', 'City', 'Team'])

In [9]:
baseball_df

  League Division        City       Team
0     NL  Central  Pittsburgh    Pirates
1     NL  Central  Cincinatti       Reds
2     NL  Central     Chicago       Cubs
3     NL  Central   St. Louis  Cardinals
4     NL  Central   Milwaukee    Brewers

Add a column for the number of games back.

In [13]:
baseball_df['games_back'] = pd.Series([31.5, 27.5, 22.5, 0, 7.5], 
                                      index = baseball_df.index)

In [14]:
baseball_df

  League Division        City       Team  games_back
0     NL  Central  Pittsburgh    Pirates        31.5
1     NL  Central  Cincinatti       Reds        27.5
2     NL  Central     Chicago       Cubs        22.5
3     NL  Central   St. Louis  Cardinals         0.0
4     NL  Central   Milwaukee    Brewers         7.5

Sort by the `games_back` column. Ignore the index, and modify in place!

In [15]:
baseball_df.sort_values(['games_back'], inplace=True)

In [16]:
baseball_df

  League Division        City       Team  games_back
3     NL  Central   St. Louis  Cardinals         0.0
4     NL  Central   Milwaukee    Brewers         7.5
2     NL  Central     Chicago       Cubs        22.5
1     NL  Central  Cincinatti       Reds        27.5
0     NL  Central  Pittsburgh    Pirates        31.5

Add two more columns that have values which change down the rows.

In [17]:
baseball_df['wins'] = pd.Series([87, 79, 64, 59, 55],
                                index=baseball_df.index)

In [18]:
baseball_df['losses'] = pd.Series([63, 70, 85, 90, 94],
                                index=baseball_df.index)

In [19]:
baseball_df

  League Division        City       Team  games_back  wins  losses
3     NL  Central   St. Louis  Cardinals         0.0    87      63
4     NL  Central   Milwaukee    Brewers         7.5    79      70
2     NL  Central     Chicago       Cubs        22.5    64      85
1     NL  Central  Cincinatti       Reds        27.5    59      90
0     NL  Central  Pittsburgh    Pirates        31.5    55      94

Lastly, add a column with a constant value down all rows

In [20]:
baseball_df['season'] = 2022

In [21]:
baseball_df

  League Division        City       Team  games_back  wins  losses  season
3     NL  Central   St. Louis  Cardinals         0.0    87      63    2022
4     NL  Central   Milwaukee    Brewers         7.5    79      70    2022
2     NL  Central     Chicago       Cubs        22.5    64      85    2022
1     NL  Central  Cincinatti       Reds        27.5    59      90    2022
0     NL  Central  Pittsburgh    Pirates        31.5    55      94    2022

## Filter rows
Filtering rows refers to SELCTING rows based on CONDITIONAL TESTS!

In [24]:
baseball_df.loc[baseball_df['wins'] > 65, :]

  League Division       City       Team  games_back  wins  losses  season
3     NL  Central  St. Louis  Cardinals         0.0    87      63    2022
4     NL  Central  Milwaukee    Brewers         7.5    79      70    2022

In [25]:
baseball_df.loc[baseball_df['Team'] == 'Pirates', :]

  League Division        City     Team  games_back  wins  losses  season
0     NL  Central  Pittsburgh  Pirates        31.5    55      94    2022

We also saw how to use the OR operator, `|`, to find all the rows where the value equals A or B.

Or, the value is ONE OF those presented.

In [26]:
baseball_df.loc[(baseball_df['Team'] == 'Cardinals') | (baseball_df['Team'] == 'Brewers'), :]

  League Division       City       Team  games_back  wins  losses  season
3     NL  Central  St. Louis  Cardinals         0.0    87      63    2022
4     NL  Central  Milwaukee    Brewers         7.5    79      70    2022

The `==` operator combined with the `|` operator is correct to use, but it does not SCALE well!!

For example, if we need to check for 10 possible values, we would need to type in 10 different conditions!!

Instead, we can ues the `.isin()` method to streamline the `|` operator!

In [30]:
baseball_df.loc[baseball_df['Team'].isin(['Cardinals', 'Brewers']), :]

  League Division       City       Team  games_back  wins  losses  season
3     NL  Central  St. Louis  Cardinals         0.0    87      63    2022
4     NL  Central  Milwaukee    Brewers         7.5    79      70    2022

In [32]:
baseball_df.loc[baseball_df['Team'].isin(['Cardinals', 'Brewers', 'Pirates']), :]

  League Division        City       Team  games_back  wins  losses  season
3     NL  Central   St. Louis  Cardinals         0.0    87      63    2022
4     NL  Central   Milwaukee    Brewers         7.5    79      70    2022
0     NL  Central  Pittsburgh    Pirates        31.5    55      94    2022

The `isin()` method can also be applied to numbers.

In [34]:
baseball_df.loc[baseball_df['losses'].isin([70, 90]), :]

  League Division        City     Team  games_back  wins  losses  season
4     NL  Central   Milwaukee  Brewers         7.5    79      70    2022
1     NL  Central  Cincinatti     Reds        27.5    59      90    2022

The `isin()` operator is especially for string filtering!

In [35]:
top_teams = baseball_df.loc[baseball_df['games_back'] < 10, 'Team'].copy().tolist()

In [36]:
top_teams

['Cardinals', 'Brewers']

In [37]:
baseball_df.loc[baseball_df['Team'].isin(top_teams), :]

  League Division       City       Team  games_back  wins  losses  season
3     NL  Central  St. Louis  Cardinals         0.0    87      63    2022
4     NL  Central  Milwaukee    Brewers         7.5    79      70    2022

## String pattern matching

In [38]:
baseball_df.loc[baseball_df['City'] == 'Pittsburgh', :]

  League Division        City     Team  games_back  wins  losses  season
0     NL  Central  Pittsburgh  Pirates        31.5    55      94    2022

But what if I didn't feel like typing out the whole string for `Pittsburgh`?

In [39]:
baseball_df.loc[baseball_df.City == 'Pitt', :]

Empty DataFrame
Columns: [League, Division, City, Team, games_back, wins, losses, season]
Index: []

What if we had a type?

In [40]:
baseball_df.loc[baseball_df.City == 'Pittsburg', :]

Empty DataFrame
Columns: [League, Division, City, Team, games_back, wins, losses, season]
Index: []

Instead, we could instead focus on a PATTERN. The `.str.contains()`methods seearches for a PATTERN WITHIN the string!!

In [42]:
baseball_df.City.str.contains('Pitt')

3    False
4    False
2    False
1    False
0     True
Name: City, dtype: bool

In [43]:
baseball_df.loc[baseball_df.City.str.contains('Pitt'), :]

  League Division        City     Team  games_back  wins  losses  season
0     NL  Central  Pittsburgh  Pirates        31.5    55      94    2022

We can even apply the PATTERN search to a single character!

In [44]:
baseball_df.loc[baseball_df.City.str.contains('P'), :]

  League Division        City     Team  games_back  wins  losses  season
0     NL  Central  Pittsburgh  Pirates        31.5    55      94    2022

BE CAREFUL, if the PATTERN IS TOO SHORT, it might not uniquely identify the string you are looking for!

In [45]:
baseball_df.loc[baseball_df.City.str.contains('C'), :]

  League Division        City  Team  games_back  wins  losses  season
2     NL  Central     Chicago  Cubs        22.5    64      85    2022
1     NL  Central  Cincinatti  Reds        27.5    59      90    2022

The `.str.contains()`method is very fhelpful when EXPLORING DATA!

I particularly like to use it to search for non-letter characters.

To find a period in a string, we need to search for the pattern `\\.`.

In [47]:
baseball_df.loc[baseball_df.City.str.contains('\\.'), :]

  League Division       City       Team  games_back  wins  losses  season
3     NL  Central  St. Louis  Cardinals         0.0    87      63    2022

We can even search for a WHITE SPACE.

In [49]:
baseball_df.loc[baseball_df.City.str.contains(' '), :]

  League Division       City       Team  games_back  wins  losses  season
3     NL  Central  St. Louis  Cardinals         0.0    87      63    2022

There are many more STRING methods available. Many of the Pandas `.str` methods are consistent with the base Python string methods.

In [50]:
dir(baseball_df.City.str)

['__annotations__',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__frozen',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 '_data',
 '_doc_args',
 '_freeze',
 '_get_series_list',
 '_index',
 '_inferred_dtype',
 '_is_categorical',
 '_is_string',
 '_name',
 '_orig',
 '_parent',
 '_validate',
 '_wrap_result',
 'capitalize',
 'casefold',
 'cat',
 'center',
 'contains',
 'count',
 'decode',
 'encode',
 'endswith',
 'extract',
 'extractall',
 'find',
 'findall',
 'fullmatch',
 'get',
 'get_dummies',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'islower',
 'isnumeric',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'len',
 'ljust',
 'lower',
 'lstrip',
 'match',
 'normalize',
 'pad',
 'partition',
 'removeprefix',
 'removesuffix',
 'repeat',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'slice',
 'slice_replace',
 'split',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'wrap',
 'zfill']