## CMPINF 2100 Week 04
### Introduction to Pandas DataFrames
The previous video was about all Pandas Series. A Series contains values associated with a single variable.

A DataFrame is a COLLECTION of variables! Or, a collection of Pandas Series!

## Import Modules

In [1]:
import numpy as np
import pandas as pd

## NumPy to DataFrames
We previously learned that Pandas Series are kind of like 1D NumPy arrays.

Pandas DataFrame is king of like a 2D NumPy Array.

So lets create a DataFrame from a 2D NumPy Array.

In [2]:
x = np.arange(1,25).reshape(6,-1)

In [4]:
x.shape

(6, 4)

In [5]:
x.ndim

2

In [6]:
x.size

24

In [7]:
x[0]

array([1, 2, 3, 4])

In [8]:
x[-1]

array([21, 22, 23, 24])

In [9]:
x

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12],
       [13, 14, 15, 16],
       [17, 18, 19, 20],
       [21, 22, 23, 24]])

In [11]:
x[:, 0]

array([ 1,  5,  9, 13, 17, 21])

In [13]:
x[-1, :]

array([21, 22, 23, 24])

Lets convert `x` into a DataFrame!!

In [14]:
xdf = pd.DataFrame(x)

In [15]:
%whos

Variable   Type         Data/Info
---------------------------------
np         module       <module 'numpy' from '/Ap<...>kages/numpy/__init__.py'>
pd         module       <module 'pandas' from '/A<...>ages/pandas/__init__.py'>
x          ndarray      6x4: 24 elems, type `int64`, 192 bytes
xdf        DataFrame        0   1   2   3\n0   1 <...>19  20\n5  21  22  23  24

In [17]:
type(xdf)

pandas.core.frame.DataFrame

In [18]:
print(xdf)

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
4  17  18  19  20
5  21  22  23  24

In [19]:
print(x)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]
 [17 18 19 20]
 [21 22 23 24]]

In [20]:
xdf

    0   1   2   3
0   1   2   3   4
1   5   6   7   8
2   9  10  11  12
3  13  14  15  16
4  17  18  19  20
5  21  22  23  24

Left most values = index

Top rows of numbers = variables

Top left corner is empty

Provide a single index to slive the NumPy 2D array!

In [21]:
x[0]

array([1, 2, 3, 4])

In [22]:
xdf[0]

0     1
1     5
2     9
3    13
4    17
5    21
Name: 0, dtype: int64

In [24]:
x[:, 0]

array([ 1,  5,  9, 13, 17, 21])

In [25]:
xdf[:, 0]

KeyError: (slice(None, None, None), 0)

In [26]:
xdf[0, :]

KeyError: (0, slice(None, None, None))

There is clearly something different about the Pandas DataFrame compared to the Numpy 2D Array...even though both are TABLE-LIKE.

BOTH have 2 dimensions.

BOTH have rows and columns.

BUT we cannot interact with a Pandas DataFrame using syntax just like the NumPy 2D Array.

Remember the Panda Series is like a list, dictionary, and 1D NumPy Array!!!!

## Dictionary to a DataFrame
Let's see a connection between a Dictionary and a DataFrame by converting a Dict into a DataFrame!

Remember that a Dict has KEY/VALUE pairs to define each item!!

In most of our previous examples, the KEY was associated with a SINGLE valued VALUE. But now, we will use a MULTI-VALUED or MULT-ENTRY VALUE per KEY!

In [50]:
baseball_dict = {'City': ['Pittsburgh', 'Cincinnati', 'Chicago', 'St. Louis', 'Milwaukee'],
                  'Team': ['Pirates', 'Reds', 'Cubs', 'Cardinals', 'Brewers'], 
                   'Division': 5*['Central'],
                   'League': 5*['NL'] }

In [51]:
baseball_dict

{'City': ['Pittsburgh', 'Cincinnati', 'Chicago', 'St. Louis', 'Milwaukee'],
 'Team': ['Pirates', 'Reds', 'Cubs', 'Cardinals', 'Brewers'],
 'Division': ['Central', 'Central', 'Central', 'Central', 'Central'],
 'League': ['NL', 'NL', 'NL', 'NL', 'NL']}

In [52]:
baseball_dict['City']

['Pittsburgh', 'Cincinnati', 'Chicago', 'St. Louis', 'Milwaukee']

In [53]:
baseball_dict['Team']

['Pirates', 'Reds', 'Cubs', 'Cardinals', 'Brewers']

Convert the dictionary into a DataFrame!!!

In [54]:
baseball_df = pd.DataFrame(baseball_dict)

In [55]:
baseball_df

         City       Team Division League
0  Pittsburgh    Pirates  Central     NL
1  Cincinnati       Reds  Central     NL
2     Chicago       Cubs  Central     NL
3   St. Louis  Cardinals  Central     NL
4   Milwaukee    Brewers  Central     NL

In [56]:
baseball_df['City']

0    Pittsburgh
1    Cincinnati
2       Chicago
3     St. Louis
4     Milwaukee
Name: City, dtype: object

In [ ]:
baseball_df['Cesar']

They Dictionary KEYS become the COLUMN NAMES!!!

In [57]:
baseball_df.columns

Index(['City', 'Team', 'Division', 'League'], dtype='object')

In [59]:
baseball_df.keys()

Index(['City', 'Team', 'Division', 'League'], dtype='object')

The dict VALUES become the entries within the ROWS for each COLUMN.

In [60]:
baseball_df.index

RangeIndex(start=0, stop=5, step=1)

## DataFrame Attributes

In [61]:
baseball_df.index

RangeIndex(start=0, stop=5, step=1)

In [62]:
baseball_df.columns

Index(['City', 'Team', 'Division', 'League'], dtype='object')

In [63]:
baseball_df.keys()

Index(['City', 'Team', 'Division', 'League'], dtype='object')

In [71]:
baseball_df.shape

(5, 4)

In [72]:
type(baseball_df)

pandas.core.frame.DataFrame

But we are REALLY interested in the DATA TYPE associated with each COLUMN contained within the DataFrame!!!!

In [73]:
baseball_df.dtypes

City        object
Team        object
Division    object
League      object
dtype: object

Object in Pandas usually means its strings!!!!

In [74]:
type(baseball_df.dtypes)

pandas.core.series.Series

In [75]:
baseball_df.dtypes.index

Index(['City', 'Team', 'Division', 'League'], dtype='object')

## DataFrame Methods

We will only show a few in this video. Next week is really dedicated to DataFrame methods!!!

In [77]:
baseball_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   City      5 non-null      object
 1   Team      5 non-null      object
 2   Division  5 non-null      object
 3   League    5 non-null      object
dtypes: object(4)
memory usage: 288.0+ bytes

In [78]:
baseball_df.describe()

              City     Team Division League
count            5        5        5      5
unique           5        5        1      1
top     Pittsburgh  Pirates  Central     NL
freq             1        1        5      5

In [79]:
xdf.describe()

               0          1          2          3
count   6.000000   6.000000   6.000000   6.000000
mean   11.000000  12.000000  13.000000  14.000000
std     7.483315   7.483315   7.483315   7.483315
min     1.000000   2.000000   3.000000   4.000000
25%     6.000000   7.000000   8.000000   9.000000
50%    11.000000  12.000000  13.000000  14.000000
75%    16.000000  17.000000  18.000000  19.000000
max    21.000000  22.000000  23.000000  24.000000

In [80]:
x.mean(axis=0)

array([11., 12., 13., 14.])

There are many more methods, but we will not show most in this video.

Instead, lets consider how to SORT or ORDER or ARRANGE the DataFrame.

In [81]:
baseball_df

         City       Team Division League
0  Pittsburgh    Pirates  Central     NL
1  Cincinnati       Reds  Central     NL
2     Chicago       Cubs  Central     NL
3   St. Louis  Cardinals  Central     NL
4   Milwaukee    Brewers  Central     NL

In [82]:
baseball_df.sort_values(['Team'])

         City       Team Division League
4   Milwaukee    Brewers  Central     NL
3   St. Louis  Cardinals  Central     NL
2     Chicago       Cubs  Central     NL
0  Pittsburgh    Pirates  Central     NL
1  Cincinnati       Reds  Central     NL

In [83]:
baseball_df

         City       Team Division League
0  Pittsburgh    Pirates  Central     NL
1  Cincinnati       Reds  Central     NL
2     Chicago       Cubs  Central     NL
3   St. Louis  Cardinals  Central     NL
4   Milwaukee    Brewers  Central     NL

In [85]:
cesar = baseball_df.sort_values(['Team', 'League']).copy()

In [86]:
cesar

         City       Team Division League
4   Milwaukee    Brewers  Central     NL
3   St. Louis  Cardinals  Central     NL
2     Chicago       Cubs  Central     NL
0  Pittsburgh    Pirates  Central     NL
1  Cincinnati       Reds  Central     NL

Most Pandas methods DO NOT modify in place!!!

Sometimes, we do not want to retain the original `.index` attribute positions!

We want to IGNORE the `.index` when we SORT!

In [87]:
baseball_df.sort_values(['Team'], ignore_index=True)

         City       Team Division League
0   Milwaukee    Brewers  Central     NL
1   St. Louis  Cardinals  Central     NL
2     Chicago       Cubs  Central     NL
3  Pittsburgh    Pirates  Central     NL
4  Cincinnati       Reds  Central     NL

We could also sort in DESCENDING order

In [88]:
baseball_df.sort_values(['Team'], ignore_index=True, ascending=False)

         City       Team Division League
0  Cincinnati       Reds  Central     NL
1  Pittsburgh    Pirates  Central     NL
2     Chicago       Cubs  Central     NL
3   St. Louis  Cardinals  Central     NL
4   Milwaukee    Brewers  Central     NL

The result is NOT stored. So to store or KEEP the sorting, we need to assign to a NEW object.

In [90]:
baseball_df_b = baseball_df.sort_values(['Team'], ignore_index=True, ascending=False).copy()

In [91]:
baseball_df_b

         City       Team Division League
0  Cincinnati       Reds  Central     NL
1  Pittsburgh    Pirates  Central     NL
2     Chicago       Cubs  Central     NL
3   St. Louis  Cardinals  Central     NL
4   Milwaukee    Brewers  Central     NL

Alternatively, we CAN force Pandas to MODIFY in place using the `inplace` argument!

In [93]:
baseball_df.sort_values(['Team'], inplace=True)

In [94]:
baseball_df

         City       Team Division League
4   Milwaukee    Brewers  Central     NL
3   St. Louis  Cardinals  Central     NL
2     Chicago       Cubs  Central     NL
0  Pittsburgh    Pirates  Central     NL
1  Cincinnati       Reds  Central     NL

In [95]:
baseball_df_b

         City       Team Division League
0  Cincinnati       Reds  Central     NL
1  Pittsburgh    Pirates  Central     NL
2     Chicago       Cubs  Central     NL
3   St. Louis  Cardinals  Central     NL
4   Milwaukee    Brewers  Central     NL

## Summary

This video focused on CREATING DATAFRAMES from NumPy and from Dictionaries.

This was to highlight the fact that DataFrames are 2D objects. They have 2 dimensions -  ROWS and COLUMNS

This was to highlght that the KEY becomes the COLUMN NAME!

We need to think of Pandas DataFrames as a combination of the NumPy 2D array and the Python Dictionary!!